:root {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magente: hsl(300, 69%, 71%);
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--primary-violet);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  z-index: 0;
}

#background-img {
  position: absolute;
  left: 0;
  width: 1440px;
  z-index: -1;
}

#container-header {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  img {
    margin: 80px 0px 20px 0px;
    width: 200px;
  }
}

#container-body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 800px;
  }

  & > div:nth-child(2) {
    margin-left: 50px;
    p:nth-child(1) {
      font-size: xxx-large;
      font-weight: 600;
      width: 500px;
    }

    p:nth-child(2) {
      width: 500px;
      font-size: large;
      font-weight: 300;
      margin-top: 30px;
    }
  }
}

#container-footer {
  display: flex;
  flex-direction: row-reverse;

  margin-right: 100px;
  margin-bottom: 0;
  svg {
    font-size: medium;
    fill: white;
    padding: 5px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;

    &:hover {
      fill: var(--primary-soft-magente);
      border: 2px solid var(--primary-soft-magente);
    }
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-violet);
  width: 200px;
  height: 50px;
  font-size: large;
  border-radius: 50px;
  background-color: white;
  border: none;
  margin-top: 50px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-color: var(--primary-soft-magente);
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  #container {
    width: 350px;
    background-image: url("./images/bg-mobile.svg");
    padding: 0;
    margin: 0;
    align-items: center;
  }

  #container-header {
    transform: translateX(-30%) translateY(-40%);
  }

  #container-body {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 300px;
    }

    & > div:nth-child(2) {
      width: 300px;
      margin: 0;
      display: flex;
      flex-direction: column;

      align-items: center;
      p:nth-child(1) {
        width: 250px;
        font-size: x-large;
        font-weight: 600;
      }
      p:nth-child(2) {
        margin: 0;
        width: 265px;
        font-size: small;
        font-weight: 300;
      }
    }
  }

  #container-footer {
    margin: 0;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 150px;
    height: 40px;
  }
}
