:root {
    --primary-dark: hsl(256, 26%, 20%);
    --primary-grayish-blue: hsl(216, 30%, 68%);
    --neutral-very-dark-violet: hsl(270, 9%, 17%);
    --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
}

h1 {
    font-size: 62px;
    letter-spacing: 2px;
    width: 580px;
    line-height: 62px;
    font-weight: 400;
}

body {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;

    font-family: 'Karla', sans-serif;   
    background-color: white;

    h1, h2, h3, h4, h5, h6 {
       font-family: 'DM Serif Display', serif;
    }

    & > img {
        position: absolute;
        top: 500px;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: 15px 100px;
    }

    #nav-items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-weight: 700;
        text-transform: uppercase;

        p {
            padding: 5px 30px;
            color: var(--neutral-dark-grayish-violet);
            cursor: pointer;
            font-size: 14px;

            &:hover {
                color: var(--primary-dark);
            }
        }

        & > p:nth-child(4) {
            border: 2px solid var(--primary-dark);
            color: var(--primary-dark);

            &:hover {
                background-color: var(--primary-dark);
                color: var(--neutral-very-light-gray);
            }
        }
    }

    #intro {
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-dark);
        color: var(--neutral-very-light-gray);
        padding: 100px 100px;
        font-size: 16px;

        div {
            width: 550px;
            margin-bottom: 30px;
        }

        div:nth-last-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 40px;
            border: 2px solid var(--neutral-very-light-gray);
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: var(--neutral-very-light-gray);
                color: var(--primary-dark);
            }
        }

        & > span {
            width: 150px;
            border-top: 2px solid var(--neutral-very-light-gray);
        }

        #desktop-intro-img {
            position: absolute;
            right: 100px;
            top: 100px;
        }

        #desktop-intro-right {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 480px;
        }
    }

    #details-section {
        display: flex;
        flex-direction: column;
        margin: 300px 100px 150px 100px;

        & > span {
            width: 150px;
            border-top: 2px solid rgba(165, 1, 165, 0.1);
        }

        h1 {
            margin-bottom: 30px;
        }

        #details {
            display: flex;
            flex-direction: row;
            margin-top: 40px;
            justify-content: space-around;
            .detail-card {
                width: 500px;
                margin-right: 40px;
            }
        }

        #details-more {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 150px 0px 0px 0px;
            padding: 0px 30px 0px 50px;
            height: 300px;
            color: var(--neutral-very-light-gray);
            background-color: var(--primary-dark);
            
            & > img {
                position: absolute;
                top: 0;
                right: 0;
                height: 300px;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--neutral-very-light-gray);
                height: 50px;
                width: 200px;
                margin-right: 90px;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    background-color: var(--neutral-very-light-gray);
                    color: var(--primary-dark);
                }
            }
        }
    }
}

footer {
    position: relative;

    background-color: var(--neutral-very-light-gray);
    background-image: url("./images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    padding: 30px 100px 30px 100px;
    height: 300px;
    z-index: 0;

    #footer-header {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        height: 30px;
        padding: 30px 0px;
        border-bottom: 3px solid var(--neutral-dark-grayish-violet);
        

        #social-media-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
        }

        svg {
            cursor: pointer;

            &:hover {
                & > path {
                    fill: var(--primary-dark);
                }
            }
        }
    }

    #footer-bottom {
        z-index: 1;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 700;

        & > img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
        }

        h3 {
            letter-spacing: 2px;
            font-size: 14px;
            color: var(--neutral-dark-grayish-violet);
            margin: 35px 0px;
        }

        p {
            font-family: 'Karla', sans-serif;   
            color: var(--primary-dark);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        & > div {
            margin-right: 200px;
            z-index: 1;
        }
    }
}